<%- include('header') %>
<link rel="stylesheet" href="css/style2.css">
<!-- Banner
================================================== -->
<div class="main-search-container full-height alt-search-box centered" data-background-image="images/listeo_bg3.jpg">
	<div class="main-search-inner">

		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<div class="main-search-input">

						<div class="main-search-input-headline">
							<h2>Get More Buyers</h2>
							<h4>We're on a path to improve your business!</h4>
						</div>

						<div class="main-search-input-item location">
							<div id="autocomplete-container">
								<input type="text" placeholder="Name">
							</div>
							<a href="#"><i class="fa fa-user"></i></a>
						</div>

						<div class="main-search-input-item search-input-icon">
							<input type="email" placeholder="Email Address" >
							<i class="fa fa-envelope"></i>
						</div>
						<div class="main-search-input-item search-input-icon">
							<input type="email" placeholder="Company Name" >
							<i class="fa fa-building"></i>
						</div>
						<div class="main-search-input-item search-input-icon">
							<input type="email" placeholder="Contact" >
							<i class="fa fa-calendar"></i>
						</div>
						<button class="button" onClick="#">Search</button>

					</div>
				</div>
			</div>
			
		</div>

	</div>
</div>


<!-- Content
================================================== -->
<div class="container">
	<div class="row">

		<div class="col-md-12">
			<h3 class="headline centered margin-top-75">
				<strong class="headline-with-separator">Few of Our Esteemed Builder Clients</strong>
			</h3><br><br>
		</div>

		<div class="col-md-12">
			<div class="categories-boxes-container margin-top-5 margin-bottom-45">
				
				<!-- Box --> 
				<img src="img/11.png" class="img-responsive build"/>
				<img src="img/12.png" class="img-responsive build"/>
				<img src="img/13.jpg" class="img-responsive build"/>
				<img src="img/14.jpg" class="img-responsive build"/>
				<img src="img/15.png" class="img-responsive build1"/>
				<img src="img/16.png" class="img-responsive build1"/>
				<img src="img/17.jpg" class="img-responsive build1"/>
				<img src="img/15.png" class="img-responsive build1"/>
				
			</div>
		</div>
	</div>
</div>
<!-- Category Boxes / End -->





<!-- Flip banner -->
<a href="#" class="flip-banner parallax" data-background="images/new_bg.jpg" data-color="#000" data-color-opacity="0.5" data-img-width="2500" data-img-height="1666" style="height:500px;">

<style>
li{list-style: none;}
</style>
	<div class="new_bg_text flip-banner-content" style="top:18%">
	<h2 style="color:#f91942"><b>Some Stats About NoBroker.com</b></h2><br>

	 <ul>
		<li>1000+ flats sold every month</li>
		<li>60,000 buyers per month</li>
		<li>10,000 Buyers contacts directly to builders every month</li>
	</ul>
	</div>
</a>

<!-- Flip banner / End -->

<section class="fullwidth  margin-top-40 margin-bottom-0 padding-top-60 padding-bottom-65" data-background-color="#ffffff">
	<!-- Logo Carousel -->
	<div class="container">
		<div class="row">

			<div class="col-md-12">
				<h3 class="headline centered margin-bottom-40 margin-top-10"><strong class="headline-with-separator">Media Coverage about NoBrokerr.com</strong></h3><br>
			</div>
			
			<!-- Carousel -->
			<div class="col-md-12">
				<div class="logo-slick-carousel dot-navigation">
					
					<div class="item">
						<img src="images/logo-01.png" alt="">
					</div>
					
					<div class="item">
						<img src="images/logo-02.png" alt="">
					</div>
					
					<div class="item">
						<img src="images/logo-03.png" alt="">
					</div>
					
					<div class="item">
						<img src="images/logo-04.png" alt="">
					</div>
					
					<div class="item">
						<img src="images/logo-05.png" alt="">
					</div>		

					<div class="item">
						<img src="images/logo-06.png" alt="">
					</div>	

					<div class="item">
						<img src="images/logo-07.png" alt="">
					</div>


				</div>
			</div>
			<!-- Carousel / End -->

		</div>
	</div>
	<!-- Logo Carousel / End -->
</section>

<!-- Flip banner -->
<a href="listings-half-screen-map-list.html" class="flip-banner parallax" data-background="images/slider-bg-02.jpg" data-color="#f91942" data-color-opacity="0.85" data-img-width="2500" data-img-height="1666">
	<div class="flip-banner-content">
		<h2 class="flip-visible">Contact Our Builder Expert <i class="sl sl-icon-arrow-right"></i></h2>
		<h2 class="flip-hidden"> Contact Our Builder Expert<i class="sl sl-icon-arrow-right"></i></h2>
	</div>
</a>
<!-- Flip banner / End -->

<%- include('footer'); %>