<%- include('header') %>

<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Forgot Password</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="#">Home</a></li>
						<li>Forgot Password</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>


<!-- Container / Start -->
<div class="container">

	<div class="row">

		<!-- Contact Details -->
		<div class="col-md-4">
			<img src="../img/forgot-1.png"/>
		</div>

		<!-- Contact Form -->
		<div class="col-md-5 margin-top-45">

			<section id="contact">
				<h4 class="headline">Forgot Password</h4>
					<p>Enter the email address you used when creating the account and click Send Password Reset Email. </p>
				<div id="contact-message"></div> 

					<form method="post" action="#" name="contactform" id="contactform" autocomplete="on">

					<div class="row">
						<div class="col-md-12">
							<div>
								<input name="email" type="email" id="email" placeholder="Email Address" pattern="^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$" required="required" />
							</div>
						</div>
					</div>


					<a href="create-new-pwd.php"><input type="button" class="submit button pull-right" id="submit" value="Reset Password" /></a>

					</form>
			</section>
		</div>
		<!-- Contact Form / End -->
		
		<!-- Contact Details -->
		<div class="col-md-3">

		</div>

	</div>

</div><br><br>
<!-- Container / End -->


<%- include('footer'); %>