<%- include('user-header'); %>
<%- include('user-sidemenu'); %>

	<!-- Content
	================================================== -->
	<div class="dashboard-content">
	  <!--<div id="titlebar margin-top-40">
			<div class="row">
				<div class="col-md-12">
					<h2>My Properties</h2> 
					<nav id="breadcrumbs">
						<ul>
							<li><a href="#">Home</a></li>
							<li>Dashboard</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>-->
		<div class="col-lg-12 margin-top-30">

				<!-- Section -->
					<div class="add-listing-section">
						<div class="add-listing-headline">
							<h4><a href="#"><b>1 BHK For Rent In Standalone, Electronic City</b></a></h4>
							<span>Electronics City Phase 1 Near Wipro Avenue 9  &nbsp;&nbsp;<a href=""><i class="fa fa-map-marker"></i>Explore Nearby </a></span>
						</div>
						<div class="row with-forms margin-top-0">
						<div class="col-md-12 prperty">
							<div class="col-md-4">
								<center><h5><b>875 sqft</b></h5>
								<span>Build Up</span></center>
							</div>
							<div class="col-md-4">
								<center><h5><b><i class="fa fa-inr"></i> 20,000</b></h5>
								<span>Deposite</span></center>
							</div>
							<div class="col-md-4">
								<center><h5><b><i class="fa fa-inr"></i> 6,800+</b></h5>
								<span>Rent (Non-negotiable)</span></center>
							</div>
						</div>
						</div>
						<div class="row with-forms margin-top-0">
							<div class="col-md-4">
								<img src="/img/pp.jpg" class="l-img-property"/>
							</div>
							<div class="col-md-8">
								<div class="col-md-6">
									<ul class="l-property">
										<li>Semifurnished</li>
										<li>3 Bedroom </li>
										<li>2 Balcony</li>
										<li> Furnished</li>
									</ul>
							
								</div>
								<div class="col-md-6">
									<ul>
										<li>Semifurnished</li>
										<li> > 10 Year</li>
										<li>All</li>
										<li> Ready to Move</li>
									</ul>
							
								</div>
								<div class="col-md-12">
									High quality interiors with quality equipments. Society managed by international firm jll. Operational club with gym. Adjacent market with banks, restaurant.
								</div>
							</div>
							
						</div>
						

					</div>
					
					<!-- Section -->
					<div class="add-listing-section">
						<div class="add-listing-headline">
							<h4><a href="#"><b>1 BHK For Rent In Standalone, Electronic City</b></a></h4>
							<span>Electronics City Phase 1 Near Wipro Avenue 9  &nbsp;&nbsp;<a href=""><i class="fa fa-map-marker"></i>Explore Nearby </a></span>
						</div>
						<div class="row with-forms margin-top-0">
						<div class="col-md-12 prperty">
							<div class="col-md-4">
								<center><h5><b>875 sqft</b></h5>
								<span>Build Up</span></center>
							</div>
							<div class="col-md-4">
								<center><h5><b><i class="fa fa-inr"></i> 20,000</b></h5>
								<span>Deposite</span></center>
							</div>
							<div class="col-md-4">
								<center><h5><b><i class="fa fa-inr"></i> 6,800+</b></h5>
								<span>Rent (Non-negotiable)</span></center>
							</div>
						</div>
						</div>
						<div class="row with-forms margin-top-0">
							<div class="col-md-4">
								<img src="/img/pp.jpg" class="l-img-property"/>
							</div>
							<div class="col-md-8">
								<div class="col-md-6">
									<ul class="l-property">
										<li>Semifurnished</li>
										<li>3 Bedroom </li>
										<li>2 Balcony</li>
										<li> Furnished</li>
									</ul>
							
								</div>
								<div class="col-md-6">
									<ul>
										<li>Semifurnished</li>
										<li> > 10 Year</li>
										<li>All</li>
										<li> Ready to Move</li>
									</ul>
							
								</div>
								<div class="col-md-12">
									High quality interiors with quality equipments. Society managed by international firm jll. Operational club with gym. Adjacent market with banks, restaurant.
								</div>
							</div>
							
							
						</div>
						

					</div>
					

				<!-- Section -->
					<div class="add-listing-section">
						<div class="add-listing-headline">
							<h4><a href="#"><b>1 BHK For Rent In Standalone, Electronic City</b></a></h4>
							<span>Electronics City Phase 1 Near Wipro Avenue 9  &nbsp;&nbsp;<a href=""><i class="fa fa-map-marker"></i>Explore Nearby </a></span>
						</div>
						<div class="row with-forms margin-top-0">
						<div class="col-md-12 prperty">
							<div class="col-md-4">
								<center><h5><b>875 sqft</b></h5>
								<span>Build Up</span></center>
							</div>
							<div class="col-md-4">
								<center><h5><b><i class="fa fa-inr"></i> 20,000</b></h5>
								<span>Deposite</span></center>
							</div>
							<div class="col-md-4">
								<center><h5><b><i class="fa fa-inr"></i> 6,800+</b></h5>
								<span>Rent (Non-negotiable)</span></center>
							</div>
						</div>
						</div>
						<div class="row with-forms margin-top-0">
							<div class="col-md-4">
								<img src="/img/pp.jpg" class="l-img-property"/>
							</div>
							<div class="col-md-8">
								<div class="col-md-6">
									<ul class="l-property">
										<li>Semifurnished</li>
										<li>3 Bedroom </li>
										<li>2 Balcony</li>
										<li> Furnished</li>
									</ul>
							
								</div>
								<div class="col-md-6">
									<ul>
										<li>Semifurnished</li>
										<li> > 10 Year</li>
										<li>All</li>
										<li> Ready to Move</li>
									</ul>
							
								</div>
								<div class="col-md-12">
									High quality interiors with quality equipments. Society managed by international firm jll. Operational club with gym. Adjacent market with banks, restaurant.
								</div>
							</div>
							
						</div>
						

					</div>
<%- include('user-footer'); %>