<%- include('user-header'); %>
<%- include('user-sidemenu'); %>
<!-- Content
	================================================== -->
	<div class="dashboard-content">
        <div class="row">
            <div class="col-md-12">
                <br>
                Property Entry : 60%
                <div id="progress-bar" style="width:60%;"></div>
                 
            </div>
        </div>
		<div class="row">
			<div class="col-lg-12">

				<div id="add-listing">

				<!-- Section -->
					<div class="add-listing-section margin-top-30">

						<!-- Headline -->
						<div class="add-listing-headline">
							<h3><i class="sl sl-icon-picture"></i>Near By Details</h3>
						</div>
						
						<!-- Row -->
						<div class="row with-forms">
							<div class="col-md-3">
								<div class="checkboxes in-row margin-bottom-20">
								 <input id="check-a" type="checkbox" name="check">
								 <label for="check-a">Police Station</label>
								</div>
							</div>
							
							<div class="col-md-6">
							    <select>
									<option>Select Distance</option>
									<option> within 1Km</option>
									<option> within 1-2Km</option>
									<option> within 2-3Km</option>
									<option> within 3-4Km</option>
									<option> within 5Km ></option>
								</select>
							</div> 
						</div>
						<!-- Row / End -->
						<div class="row with-forms">
							<div class="col-md-3">
								<div class="checkboxes in-row margin-bottom-20">
								 <input id="check-b" type="checkbox" name="check">
								 <label for="check-b">Hospital</label>
								</div>
							</div>
							
							<div class="col-md-6">
							    <select>
									<option>Select Distance</option>
									<option> within 1Km</option>
									<option> within 1-2Km</option>
									<option> within 2-3Km</option>
									<option> within 3-4Km</option>
									<option> within 5Km ></option>
								</select>
							</div> 
						</div>
						<!-- Row / End -->
						<div class="row with-forms">
							<div class="col-md-3">
								<div class="checkboxes in-row margin-bottom-20">
								 <input id="check-c" type="checkbox" name="check">
								 <label for="check-c">Metro Station</label>
								</div>
							</div>
							
							<div class="col-md-6">
							    <select>
									<option>Select Distance</option>
									<option> within 1Km</option>
									<option> within 1-2Km</option>
									<option> within 2-3Km</option>
									<option> within 3-4Km</option>
									<option> within 5Km ></option>
								</select>
							</div> 
						</div>
						<!-- Row / End -->
						<div class="row with-forms">
							<div class="col-md-3">
								<div class="checkboxes in-row margin-bottom-20">
								 <input id="check-d" type="checkbox" name="check">
								 <label for="check-d">Shopping Mall</label>
								</div>
							</div>
							
							<div class="col-md-6">
							    <select>
									<option>Select Distance</option>
									<option> within 1Km</option>
									<option> within 1-2Km</option>
									<option> within 2-3Km</option>
									<option> within 3-4Km</option>
									<option> within 5Km ></option>
								</select>
							</div> 
						</div>
						<!-- Row / End -->
						<div class="row with-forms">
							<div class="col-md-3">
								<div class="checkboxes in-row margin-bottom-20">
								 <input id="check-e" type="checkbox" name="check">
								 <label for="check-e">Fire station</label>
								</div>
							</div>
							
							<div class="col-md-6">
							    <select>
									<option>Select Distance</option>
									<option> within 1Km</option>
									<option> within 1-2Km</option>
									<option> within 2-3Km</option>
									<option> within 3-4Km</option>
									<option> within 5Km ></option>
								</select>
							</div> 
						</div>
						<!-- Row / End -->
						<div class="row with-forms">
							<div class="col-md-3">
								<div class="checkboxes in-row margin-bottom-20">
								 <input id="check-f" type="checkbox" name="check">
								 <label for="check-f">Bus Stand</label>
								</div>
							</div>
							
							<div class="col-md-6">
							    <select>
									<option>Select Distance</option>
									<option> within 1Km</option>
									<option> within 1-2Km</option>
									<option> within 2-3Km</option>
									<option> within 3-4Km</option>
									<option> within 5Km ></option>
								</select>
							</div> 
						</div>
						<!-- Row / End -->
						<div class="row with-forms">
							<div class="col-md-3">
								<div class="checkboxes in-row margin-bottom-20">
								 <input id="check-g" type="checkbox" name="check">
								 <label for="check-g">Railway Station</label>
								</div>
							</div>
							
							<div class="col-md-6">
							    <select>
									<option>Select Distance</option>
									<option> within 1Km</option>
									<option> within 1-2Km</option>
									<option> within 2-3Km</option>
									<option> within 3-4Km</option>
									<option> within 5Km ></option>
								</select>
							</div> 
						</div>
						<!-- Row / End -->
						<div class="row with-forms">
							<div class="col-md-3">
								<div class="checkboxes in-row margin-bottom-20">
								 <input id="check-h" type="checkbox" name="check">
								 <label for="check-h"> Airport</label>
								</div>
							</div>
							
							<div class="col-md-6">
							    <select>
									<option>Select Distance</option>
									<option> within 1Km</option>
									<option> within 1-2Km</option>
									<option> within 2-3Km</option>
									<option> within 3-4Km</option>
									<option> within 5Km ></option>
								</select>
							</div> 
						</div>
						<!-- Row / End -->
						<div class="row with-forms">
							<div class="col-md-3">
								<div class="checkboxes in-row margin-bottom-20">
								 <input id="check-i" type="checkbox" name="check">
								 <label for="check-i">Post Office</label>
								</div>
							</div>
							
							<div class="col-md-6">
							    <select>
									<option>Select Distance</option>
									<option> within 1Km</option>
									<option> within 1-2Km</option>
									<option> within 2-3Km</option>
									<option> within 3-4Km</option>
									<option> within 5Km ></option>
								</select>
							</div> 
						</div>
						<!-- Row / End -->
						<div class="row with-forms">
							<div class="col-md-3">
								<div class="checkboxes in-row margin-bottom-20">
								 <input id="check-j" type="checkbox" name="check">
								 <label for="check-j">Any Land Mark </label>
								</div>
							</div>
							
							<div class="col-md-6">
							    <input id="check-k" type="text" name="check">
							</div> 
						</div>
						<!-- Row / End -->
						

					</div>
					<!-- Section / End -->

						
						<!-- Row -->
						<div class="row with-forms">

							<button type="submit" class="button preview pull-right">Submit <i class="fa fa-arrow-circle-right"></i></button>
						
						</div>
						<!-- Row / End -->

						

					</div>
					<!-- Section / End -->


					

				</div>
			</div>
<%- include('user-footer'); %>