<%- include('user-header'); %>
<%- include('user-sidemenu'); %>
<!-- Content
	================================================== -->
	<div class="dashboard-content">


		<div class="row">
			<div class="col-lg-12">

				<div id="add-listing ">

					<!-- Section -->
					<div class="add-listing-section dashboard-list-box margin-top-45">

						<!-- Headline -->
						<div class="add-listing-headline">
							<h3><i class="im im-icon-Blueprint"></i>Congraulation</h3>
						</div>
						
							<div class="list-box-listing">
								
								<div class="li
								st-box-listing-content">
									<div class="inner">
										
										<span>You Have Sucessfully posted Your Property</span><br>
										<a href="property.php"><button class="button pull-left"><i class="fa fa-pencil"></i>Edit</button></a>
										&nbsp;&nbsp;&nbsp;&nbsp;<button class="button gray">Preview Listing</button>
									</div>
								</div>
							</div>
						
					</div>
					<!-- Section / End -->
                    <div class="add-listing-section dashboard-list-box margin-top-20">
                    <!-- Headline -->
						<div class="add-listing-headline">
							<h3><i class="im im-icon-Blueprint"></i>Be a Smart Property Owner</h3>
						</div>
                
                <div class="row icons-container">
		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2 with-line">
				<i class="im im-icon-Map2"></i>
				<h3>Guaranteed tenants or moneyback</h3>
				
			</div>
		</div>

		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2 with-line">
				<i class="im im-icon-Mail-withAtSign"></i>
				<h3>Personal Field assistant</h3>
				
			</div>
		</div>

		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2">
				<i class="im im-icon-Checked-User"></i>
				<h3>Property promotion on site</h3>
				
			</div>
		</div>
	</div>
				
				
				<div class="dashboard-list-box with-icons">
               
    
					
         	<div class="row">
		
			<h2 class="headline centered">
								<a href="#" class="button medium"><i class="sl sl-icon-layers"></i> Select your Plan</a>
			</h2>
		
			</div>           
				</div>
				
				
			
				
				
			</div>
<%- include('user-footer'); %>