<%- include('user-header'); %>
<%- include('user-sidemenu'); %>
<!-- Content
	================================================== -->
	<div class="dashboard-content">


		<div class="row">
			<div class="col-lg-12">

				<div id="add-listing ">

					<!-- Section -->
					<div class="add-listing-section dashboard-list-box margin-top-45">

						<!-- Headline -->
						<div class="add-listing-headline">
							<h3><i class="im im-icon-Blueprint"></i>Congraulation</h3>
						</div>
						<ul>

						<li>
							<div class="list-box-listing">
								<div class="list-box-listing-img">
								<a href="#" style="border-radius: 50% !important;padding:10px;" ><img src="images/suces.png" alt="" ></a></div>
								<div class="list-box-listing-content">
									<div class="inner">
										<h3>Congraulation !</h3>
										<span>You Have Sucessfully posted Your Property</span><br>
										<a href="property.php"><button class="button pull-left"><i class="fa fa-pencil"></i>Edit</button></a>
										&nbsp;&nbsp;&nbsp;&nbsp;<button class="button gray">Preview Listing</button>
									</div>
								</div>
							</div>
						</li>
					</ul>
					</div>
					<!-- Section / End -->
				</div>
				
				
				<div id="add-listing margin-top-45">
						<h3> Other Services From NoBrokerr</h3>
					<!-- Section -->
					<div class="add-listing-section" style=" margin-top: 20px;padding: 27px;border: 2px solid #ccc;">
							<div class="list-box-listing ">
								<div class="list-box-listing-content">
									<div class="inner">
										<h3>You Just Said No to Brokage, Now say  No to Unwanted Call.</h3>
										<span>Get Painting,Cleaning,Plumbing,Electrician, Carpentry <br> and Pest Control Services all Under One roof </span><br>
										<a href="#sign-in-dialog" class="sign-in popup-with-zoom-anim"><button class="button pull-left">Explore Now</button></a>
									</div>
								</div>
								<div class="list-box-listing-img"><a href="#"><img src="images/confirm.png" alt=""></a></div>
							</div>
					</div>
					<!-- Section / End -->
				</div>
				
				
				<!-- Sign In Popup -->
			<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">

				<div class="small-dialog-header">
					<h3>Be a Smart Owner</h3>
				</div>

				<!--Tabs -->
				<div class="sign-in-form style-1">
					<center><img src="images/user.png" width="150px"/>
					<h5>Get a Personal Assistant Who Will</h5>
					</center>
					
					<!-- Row -->
						<div class="row with-forms margin-top-45">

							<div class="col-md-4">
								<center><i class="im im-icon-Astronaut"></i></center>
								<h6>Receive calls on Your Behalf and arrange tenant</h6>
							</div>
							
							<div class="col-md-4">
								<center><i class="im im-icon-File-HorizontalText"></i></center>
								<h6>Promote your Listing on Our Website </h6>
							</div>
							
							<div class="col-md-4">
								<center><i class="im im-icon-Camera-Back"></i></center>
								<h6>Photoshoot of Your Property </h6>
							</div>
						</div>
						<!-- Row / End -->
						
				</div>
			</div>
			<!-- Sign In Popup / End -->

				
				
			</div>
<%- include('user-footer'); %>