<%- include('user-header'); %>
<%- include('user-sidemenu'); %>
<!-- Content
	================================================== -->
	<div class="dashboard-content">
        <!-- Notice -->
        <div class="row">
            <div class="col-md-12">
                <br>Property Entry : 0%
                <div id="progress-bar" style="width:15%;"></div>
                 
            </div>
        </div>
        
        
            <div class="row">
                <div class="col-lg-12">
    
                    <div id="add-listing">
    
                        <!-- Section -->
                        <div class="add-listing-section">
    
                            <!-- Headline -->
                            <div class="add-listing-headline">
                                <h3><i class="im im-icon-Blueprint"></i>Provide Your Details About Your Property</h3>
                            </div>
    
                            <!-- Row -->
                            <div class="row with-forms">
    
                                <!-- Phone -->
                                <div class="col-md-4">
                                    <h5>Apartment Type <span>*</span></h5>
                                    <select name="bhk">
                                        <option>Select </option>
                                        <option>Apartment</option>
                                        <option>Independent House/Villa</option>
                                        <option>Gated Community Villa</option>
                                    </select>
                                </div>
                                <!-- Website -->
                                <div class="col-md-4">
                                    <h5>Apartment Name <span>(optional)</span></h5>
                                    <input type="text" placeholder="Apartment Name">
                                </div>
    
                                <!-- Email Address -->
                                <div class="col-md-4">
                                    <h5>BHK Type <span>(optional)</span></h5>
                                    <select name="bhk">
                                        <option>Select BHK</option>
                                        <option>1 BHK</option>
                                        <option>2 BHK</option>
                                        <option>3 BHK</option>
                                        <option>4 BHK</option>
                                    </select>
                                </div>
                                
    
                            </div>
                            <!-- Row / End -->
                            
    
                            <!-- Row -->
                            <div class="row with-forms">
    
                                <div class="col-md-4">
                                    <h5>Ownership Type <span>*</span></h5>
                                    <select name="bhk">
                                        <option>Select Ownership Type</option>
                                        <option>Ownership Type</option>
                                    </select>
                                </div>
    
                                <div class="col-md-4">
                                    <h5>Property Size <span>(optional)</span></h5>
                                    <input type="text" placeholder="Property Size">
                                </div>
    
                                <div class="col-md-4">
                                    <h5>Property Age <span>*</span></h5>
                                    <select name="bhk">
                                        <option>Select Year</option>
                                        <option>Under Construction</option>
                                        <option>Less than 1 year</option>
                                        <option>1-3 years</option>
                                        <option>3-5 years</option>
                                        <option>5-10 years</option>
                                        <option>More than 10 years</option>
                                    </select>
                                </div>
                                
    
                            </div>
                            <!-- Row / End -->
                            <!-- Row -->
                            <div class="row with-forms">
    
                                <div class="col-md-4">
                                    <h5>Facing<span>*</span></h5>
                                    <select name="facing">
                                        <option>Select Facing</option>
                                        <option>North Facing</option>
                                        <option>East Facing</option>
                                        <option>South Facing</option>
                                        <option>West Facing</option>
                                    </select>
                                </div>
    
                                <div class="col-md-4">
                                    <h5>Floor <span>(optional)</span></h5>
                                    <select name="floor">
                                        <option>Select Floor</option>
                                        <option>1 Floor</option>
                                        <option>2 Floor</option>
                                        <option>3 Floor</option>
                                        <option>4 Floor</option>
                                    </select>
                                </div>
    
                                <div class="col-md-4">
                                    <h5>Total Floor <span>*</span></h5>
                                    <select name="tfloor">
                                        <option>Select Floor</option>
                                        <option>1 Floor</option>
                                        <option>2 Floor</option>
                                        <option>3 Floor</option>
                                        <option>4 Floor</option>
                                    </select>
                                </div>
    
                            </div>
                            <!-- Row / End -->
                            <!-- Row -->
                            <div class="row with-forms">
    
                                <div class="col-md-4">
                                    <h5>Floor Type<span>*</span></h5>
                                    <select name="tfloor">
                                        <option>Select Type</option>
                                        <option>1 Floor</option>
                                        <option>2 Floor</option>
                                        <option>3 Floor</option>
                                        <option>4 Floor</option>
                                    </select>
                                </div>
    
                                <div class="col-md-4">
                                    <h5>No of Units <span>*</span></h5>
                                    <select name="tfloor">
                                        <option>Select Unit</option>
                                        <option>1 Unit</option>
                                        <option>2 Unit</option>
                                        <option>3 Unit</option>
                                        <option>4 Unit</option>
                                    </select>
                                </div>
    
                                <button type="submit" onclick="move()" class="button preview pull-right">Submit <i class="fa fa-arrow-circle-right"></i></button>
                            
                            </div>
                            <!-- Row / End -->
    
                        </div>
                        <!-- Section / End -->
    
    
                        
    
                    </div>
                </div>
    

<%- include('user-footer'); %>