<%- include('user-header'); %>
<%- include('user-sidemenu'); %>
<!-- Content
	================================================== -->
	<div class="dashboard-content">
        <div class="row">
            <div class="col-md-12">
                <br>
                Property Entry : 30%
                <div id="progress-bar" style="width:30%;"></div>
                 
            </div>
        </div>
		<div class="row">
			<div class="col-lg-12">

				<div id="add-listing">

					<!-- Section -->
					<div class="add-listing-section">

						<!-- Headline -->
						<div class="add-listing-headline">
							<h3><i class="im im-icon-Blueprint"></i>Provide Rental Details About Your Property</h3>
						</div>

						<!-- Row -->
						<div class="row with-forms">

							<div class="col-md-4">
								<h5>Expected Price <span>*</span></h5>
								<input type="text" placeholder="Expected Price">
							</div>

							<div class="col-md-4">
								<h5>Maintinance Cost <span>(optional)</span></h5>
								<input type="text" placeholder="Maintinance Cost">
							</div>

							<div class="col-md-4">
								<h5>No of Lease Year <span>(optional)</span></h5>
								<select name="bhk">
									<option>Select Year</option>
									<option>2020</option>
								</select>
							</div>
							

						</div>
						<!-- Row / End -->
						
						<!-- Row -->
						<div class="row with-forms">

							<div class="col-md-4">
								<h5>Availible Form  <span>*</span></h5>
								<input type="date">
							</div>
							<div class="col-md-4">
								<h5>Furnishing <span>*</span></h5>
								<select name="bhk">
									<option>Select</option>
									<option>Fully furnished</option>
									<option>Semi-furnished</option>
									<option>Unfurnished</option>
								</select>
							</div>

							<div class="col-md-4">
								<h5>Parking <span>*</span></h5>
								<select name="bhk">
									<option>Select Parking</option>
									<option>Car</option>
									<option>Bike</option>
									<option>Bike and Car</option>
									<option>None</option>
								</select>
							</div>
							

						</div>
						<!-- Row / End -->
						

						<!-- Row -->
						<div class="row with-forms">

							<div class="col-md-4">
								<h5>Kitchen Type <span>*</span></h5>
								<select name="bhk">
									<option>Select Kitchen Type</option>
									<option>Ownership Type</option>
								</select>
							</div>
							
							<div class="col-md-4">
								<h5>Nigotiable<span>*</span></h5>
								<div class="checkboxes in-row margin-bottom-20">
									<input id="check-a" type="checkbox" name="check">
									<label for="check-a">Price Nigotiable</label>
							    </div>
							</div>
							
							<div class="col-md-4">
								<h5>Under Loan <span>*</span></h5>
								<div class="checkboxes in-row margin-bottom-20">
									<input id="check-b" type="checkbox" name="check">
									<label for="check-b">Currently Under Loan</label>
							    </div>
							</div>							

						</div>
						<!-- Row / End -->
						
						<!-- Row -->
						<div class="row with-forms">

						<div class="form">
							<h5>Description</h5>
							<textarea class="WYSIWYG" name="summary" cols="40" rows="3" id="summary" spellcheck="true"placeholder="Write a few lines about your property. Let the tenant know the amenities available, type of neighbourhood, proximity to bus and train stations etc."></textarea>
						</div>

							<button type="submit" class="button preview pull-right">Submit <i class="fa fa-arrow-circle-right"></i></button>
						
						</div>
						<!-- Row / End -->

						

					</div>
					<!-- Section / End -->


					

				</div>
            </div>
            <%- include('user-footer'); %>