<%- include('user-header'); %>
<%- include('user-sidemenu'); %>

	<!-- Content
	================================================== -->
	<div class="dashboard-content">

		<div class="col-md-12">
		<div class="dashboard-list-box margin-top-30">
			<h4 class="gray">Tenants Plan</h4>
		</div>
		 <div class="add-listing-section"><br><br>
			<div class="pricing-container">

			<!-- Plan #1 -->

				<div class="plan">

					<div class="plan-price">
						<h3>Power Plan</h3>
						<span class="value"><i class="fa fa-inr"></i> 1,999</span>
						<span class="period">Choose your home from lots of options</span>
					</div>

					<div class="plan-features">
						<ul>
							<li>Number of Contacts <span class="pull-right"> 25</span></li>
							<li>New Property Alerts<span class="pull-right"> Instant</span></li>
							<li>Title Verification Assistance <i class="fa fa-check pull-right"></i></li>
							<li>Home Loan Assistance <i class="fa fa-check pull-right"></i></li>
						</ul>
						<a class="button border" href="#">Get Started</a>
					</div>

				</div>

				<!-- Plan #3 -->
				<div class="plan featured">

					<div class="listing-badge">
						<span class="featured">Featured</span>
					</div>

					<div class="plan-price">
						<h3>MoneyBack Plan</h3>
						<span class="value"><i class="fa fa-inr"></i> 8,999</span>
						<span class="period">Get Guaranteed home or 100% Refund</span>
					</div>
					<div class="plan-features">
						<ul>
							<li>Number of Contacts <span class="pull-right"> 50</span></li>
							<li>New Property Alerts<span class="pull-right"> Instant</span></li>
							<li>Title Verification Assistance <i class="fa fa-check pull-right"></i></li>
							<li>Home Loan Assistance <i class="fa fa-check pull-right"></i></li>
						</ul>
						<a class="button" href="#">Get Started</a>
					</div>
					
				</div>

				<!-- Plan #3 -->
				<div class="plan">

					<div class="plan-price">
						<h3>Comfort Plan</h3>
						<span class="value"><i class="fa fa-inr"></i> 4,999</span>
						<span class="period">Relationship Manager to search, fix meetings and negotiate price</span>
					</div>

					<div class="plan-features">
						<ul>
							<li>Number of Contacts <span class="pull-right"> 50</span></li>
							<li>New Property Alerts<span class="pull-right"> Instant</span></li>
							<li>Title Verification Assistance <i class="fa fa-check pull-right"></i></li>
							<li>Home Loan Assistance <i class="fa fa-check pull-right"></i></li>
						</ul>
						<a class="button border" href="#">Get Started</a>
					</div>
				</div>
				
				

			</div>
		</div>
<%- include('user-footer'); %>