<%- include('user-header'); %>
<%- include('user-sidemenu'); %>

	<!-- Content -->
	<div class="dashboard-content">
		
		<div class="col-md-12">
		<div class="dashboard-list-box margin-top-30">
					<h4 class="gray">Tenants Plan</h4>
		</div>
		<div class="add-listing-section"><br><br>
			<div class="pricing-container ">
			<!-- Plan #1 -->

				<div class="plan">
					<div class="plan-price">
						<h3>Freedom Plan</h3>
						<span class="value"><i class="fa fa-inr"></i> 999</span>
						<span class="period">Save your money with lots of genuine house owner contacts</span>
					</div>

					<div class="plan-features">
						<ul>
							<li>Premium Filters <i class="fa fa-check pull-right"></i></li>
							<li>Number of Contacts <span class="pull-right">upto 25</span></li>
							<li>Instant Property Alerts <i class="fa fa-check pull-right"></i></li>
							<li>Locality Experts <i class="fa fa-times pull-right"></i></li>
							<li>Rent Negotiation <i class="fa fa-times pull-right"></i></li>
						</ul>
						<a class="button border" href="#">Get Started</a>
					</div>

				</div>

				<!-- Plan #3 -->
				<div class="plan featured">

					<div class="listing-badge">
						<span class="featured">Featured</span>
					</div>

					<div class="plan-price">
						<h3>Relax Plan</h3>
						<span class="value"><i class="fa fa-inr"></i> 2,999</span>
						<span class="period">Get Relationship Manager to help you SAVE time and money</span>
					</div>
					<div class="plan-features">
						<ul>
							<li>Premium Filters <i class="fa fa-check pull-right"></i></li>
							<li>Number of Contacts <span class="pull-right"> upto 50</span></li>
							<li>Instant Property Alerts <i class="fa fa-check pull-right"></i></li>
							<li>Locality Experts <i class="fa fa-check pull-right"></i></li>
							<li>Rent Negotiation <i class="fa fa-check pull-right"></i></li>
						</ul>
						<a class="button" href="#">Get Started</a>
					</div>
					
				</div>

				<!-- Plan #3 -->
				<div class="plan">

					<div class="plan-price">
						<h3>MoneyBack Plan</h3>
						<span class="value"><i class="fa fa-inr"></i> 5,499</span>
						<span class="period">Get Guaranteed home or 100% Refund</span>
					</div>

					<div class="plan-features">
						<ul>
							<li>Premium Filters <i class="fa fa-check pull-right"></i></li>
							<li>Number of Contacts <span class="pull-right"> upto 50</span></li>
							<li>Instant Property Alerts <i class="fa fa-check pull-right"></i></li>
							<li>Locality Experts <i class="fa fa-check pull-right"></i></li>
							<li>Rent Negotiation <i class="fa fa-check pull-right"></i></li>
						</ul>
						<a class="button border" href="#">Get Started</a>
					</div>
				</div>
				
			</div>
		</div>
<%- include('user-footer'); %>