<%- include('header') %>
<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Seller Plan</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="#">Home</a></li>
						<li>Seller Plan</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>

<style>
.tabs-nav li {width: 500px;
    text-align: center;}
</style>


<!-- Pricing Tables
================================================== -->

<!-- Container / Start -->
<div class="container">

	<!-- Row / Start -->
	 <div class="row">
			<div class="add-listing-section margin-top-30">
				<table class="table table-striped">
				<thead>
				
					<tr>
						<th><div class="add-listing-headline">
						<h5><center>Plans and Pricing</center></h5>
						</div></th>
						<th><div class="add-listing-headline">
						<h5><center>Relax Plan</center></h5>
						</div></th>
						<th><div class="add-listing-headline">
						<h5><center>MoneyBack Plan</center></h5>
						</div></th>
						<th><div class="add-listing-headline">
						<h5><center>Super Relax Plan</center></h5>
						</div></th>
						<th><div class="add-listing-headline">
						<h5><center>Super MoneyBack Plan</center></h5>
						</div></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td><center><h4><i class="fa fa-inr"> 7,499</i></h4></center></td>
						<td><center><h4><i class="fa fa-inr"> 16,499</i></h4></center></td>
						<td><center><h4><i class="fa fa-inr"> 11,499</i></h4></center></td>
						<td><center><h4><i class="fa fa-inr"> 20,999</i></h4></center></td>
					</tr>
					<tr>
						<td></td>
						<td><center><button class="button add_b">Subscribe</button></center></td>
						<td><center><button class="button add_b">Subscribe</button></center></td>
						<td><center><button class="button add_b">Subscribe</button></center></td>
						<td><center><button class="button add_b">Subscribe</button></center></td>
					</tr>
					
					<tr>
						<td><img src="img/111.png"/> Guaranteed tenants or Moneyback </td>
						<td><center><i class="fa fa-times"></i></center></td>
						<td><center><i class="fa fa-check"></i></center></td>
						<td><center><i class="fa fa-times"></i></center></td>
						<td><center><i class="fa fa-check"></i></center></td>
					</tr>
					<tr>
						<td><img src="img/222.png"/> Personal Field assistant </td>
						<td><center><i class="fa fa-times"></i></center></td>
						<td><center><i class="fa fa-times"></i></center></td>
						<td><center><i class="fa fa-check"></i></center></td>
						<td><center><i class="fa fa-check"></i></center></td>
					</tr>
					<tr>
						<td><img src="img/333.png"/> Property promotion on site </td>
						<td><center><i class="fa fa-check"></i></center></td>
						<td><center><i class="fa fa-check"></i></center></td>
						<td><center><i class="fa fa-check"></i></center></td>
						<td><center><i class="fa fa-check"></i></center></td>
					</tr>
					<tr>
						<td><img src="img/444.png"/> Relationship Manager (RM)</td>
						<td><center><i class="fa fa-check"></i></center></td>
						<td><center><i class="fa fa-check"></i></center></td>
						<td><center><i class="fa fa-check"></i></center></td>
						<td><center><i class="fa fa-check"></i></center></td>
					</tr>
					<tr>
					  <td><img src="img/555.png"/> Facebook Marketing Of Property </td>
					  <td><center><i class="fa fa-check"></i></center></td>
					  <td><center><i class="fa fa-check"></i></center></td>
					  <td><center><i class="fa fa-check"></i></center></td>
					  <td><center><i class="fa fa-check"></i></center></td>
					</tr>
					<tr>
					  <td><img src="img/666.png"/><span> Privacy of your phone number<span></td>
					  <td ><center><i class="fa fa-check"></i></center></td>
					  <td><center><i class="fa fa-check"></i></center></td>
					  <td><center><i class="fa fa-check"></i></center></td>
					  <td><center><i class="fa fa-check"></i></center></td>
					</tr>
					<tr>
					  <td><img src="img/777.png"/> Showing house on your behalf</td>
					  <td><center><i class="fa fa-times"></i></center></td>
					  <td><center><i class="fa fa-times"></i></center></td>
					  <td><center><i class="fa fa-check"></i></center></td>
					  <td><center><i class="fa fa-check"></i></center></td>
					</tr>
					<tr>
					  <td><img src="img/888.png"/> Photoshoot of your property</td>
					  <td><center><i class="fa fa-times"></i></center></td>
					  <td><center><i class="fa fa-times"></i></center></td>
					  <td><center><i class="fa fa-check"></i></center></td>
					  <td><center><i class="fa fa-check"></i></center></td>
					</tr>
					<tr>
					  <td><img src="img/999.png"/> Plan Validity</td>
					  <td><center>3 Months</td>
					  <td><center>6 Months</center></td>
					  <td><center>3 Months</center></td>
					  <td><center>6 Months</center></td>
					</tr>                                            
				</tbody>
			</table>
			</div><br>

			<p><center>For assistance call us at : +91 92-430-099-80<br>
				Plan Validity : MoneyBack & Relax ( 45 Days ) , Freedom & Basic ( 90 days ) .<a href="#"> T&C apply.</a><br><br>
				<a class="button border"> Click here to Owner Plan</a>
			</center>
			<br>
			</p>
</div>

               	 
                <!-- Row / End -->
	
		<div class="row">
		
		<div class="col-md-12">

			<div class="style-1">

				<!-- Tabs Navigation -->
				<ul class="tabs-nav">
					<li class="active"><a href="#tab1b">FAQ</a></li>
					<li><a href="#tab2b">How it Works</a></li>
				</ul>

				<!-- Tabs Content -->
				<div class="tabs-container">
					<div class="tab-content" id="tab1b">
						<div class="accordion">

					<h3><span class="ui-accordion-header-icon ui-icon ui-accordion-icon"></span><i class="sl sl-icon-plus"></i> -	Why do I need a verified account to use service NoBrokerr.com?</h3>
					<div>
						<p>Our main goal at NoBrokerr.com is to exclude brokers from entire rental scene. To accomplish this, we search and trigger the account of each owner / tenant after checking that the user is genuine.</p>
					</div>

					<h3><span class="ui-accordion-header-icon ui-icon ui-accordion-icon"></span><i class="sl sl-icon-plus"></i> -	How long does it take to verify email?</h3>
					<div>
						<p>Account verification is very simple. As soon as you register you will receive a mail with connection to check your account. It hardly takes few minutes.</p>
					</div>

					<h3><span class="ui-accordion-header-icon ui-icon ui-accordion-icon"></span><i class="sl sl-icon-plus"></i> -	How do I come to know that my account is verified?</h3>
					<div>
						<p> You will be notified via email and sms about verification the account.</p>
					</div>
					
					<h3><span class="ui-accordion-header-icon ui-icon ui-accordion-icon"></span><i class="sl sl-icon-plus"></i> -  Is logging in via facebook& Google (social network) secure to use?</h3>
					<div>
						<p><li>	Customer satisfaction at NoBrokerr is our main aim and we don't post anything for cheap advertising on your social network.</li>
						<li>When you login to your social network, we do not ask for any extra information.</li>
						<li>And Your email will be automatically verified.</li>
						</p>
					</div>
					

				</div>
				
				<div class="accordion">

					<h3><span class="ui-accordion-header-icon ui-icon ui-accordion-icon"></span><i class="sl sl-icon-plus"></i> -	Can I list my property until my account has been verified??</h3>
					<div>
						<p> Sure, you can list your property without having to worry about checking the account. We will also check your status as part of real estate verification.</p>
					</div>

					<h3><span class="ui-accordion-header-icon ui-icon ui-accordion-icon"></span><i class="sl sl-icon-plus"></i> -	Why is my listed property not visible?</h3>
					<div>
						<p>Every listing on NoBrokerr.com is checked for content, photo, position and genuine free ownership of the broker. Upon these verifications, property is made active (visible to all).</p>
					</div>

					<h3><span class="ui-accordion-header-icon ui-icon ui-accordion-icon"></span><i class="sl sl-icon-plus"></i> -	I made some change to my property listing and it's not visible in quest now?</h3>
					<div>
						<p> Any modifications to the listing of properties after activation will go through the inspection process to maintain the quality of listing on the sites.</p>
					</div>
					
					<h3><span class="ui-accordion-header-icon ui-icon ui-accordion-icon"></span><i class="sl sl-icon-plus"></i> -	I got an SMS saying that my listing of properties was denied, why ?</h3>
					<div>
						<p> Our main objective at NoBrokerr.com is to remove brokers from the rental scene and if a user who is a broker or is suspected of being a broker considers us a property listing, we deny the listing. In doing so we may sometimes end up refusing legitimate listings. Please contact us for these cases on + 91- XXXXX XXXXX (call or whatsapp) or give us a mail at hi@nobrokerr.com
						</p>
					</div>
					

				</div>
			
				
				
					</div>

					<div class="tab-content" id="tab2b">Aenean dolor mi, luctus et laoreet hendrerit, condimentum faucibus mi. Nam et sem eros. Sed sed eros nec massa pellentesque accumsan in nec magna. Donec sollicitudin enim nec justo mollis bibendum. Nulla eleifend mollis velit. Ut sed risus eget metus egestas sagittis. Etiam vestibulum interdum turpis.</div>
				</div>

			</div>

		</div>

	</div>
	

</div>
<%- include('footer'); %>