<!DOCTYPE html>
<head>

<!-- Basic Page Needs
================================================== -->
<title><%- title %></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/main-color.css" id="colors">

</head>

<body>

<!-- Wrapper -->
<div id="wrapper">

<!-- Header Container
================================================== -->
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Rosario:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/css/pushmenu.css" />
<style>
	.progress{margin-bottom:0px !important;}
	</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>


<script src="/scripts/pushmenu.js">

/***********************************************
* Side Push Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* Please keep this notice intact
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for this script and 100s more
***********************************************/

</script>

<script>

jQuery(function(){ // on DOM load

	menu1 = new pushmenu({  // initialize menu example
		menuid: 'pushmenu1',
		position: 'right',
		marginoffset: 0,
		revealamt: -8,
		onopenclose:function(state){ // add or remove "open" class to animated drawer button depending on menu state
			var $buttonref = $('#drawer')
			if (state == 'open')
				$buttonref.addClass('open')
			else
				$buttonref.removeClass('open')			
		}
	})

})

</script>

<header id="header-container" class="fixed fullwidth dashboard">

	<!-- Header -->
	<div id="header" class="not-sticky">
		<div class="container">
			
			<!-- Left Side Content -->
			<div class="left-side">
				
				<!-- Logo -->
				<div id="logo">
					<a href="/"><img src="/images/logo.png" alt=""></a>
					<a href="/" class="dashboard-logo"><img src="/images/logo2.png" alt=""></a>	
				</div>

        <!-- Mobile Navigation -->
				<!--<div class="mmenu-trigger">
					<button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</div>-->

				<!-- Main Navigation -->
				<!--<nav id="navigation" class="style-1">
					<ul id="responsive">
						<li><a href="#">Commercial</a>
							<ul class="sub-menu">
								<li><a href="tenant-plan.php">Tenant Plans</a></li>
								<li><a href="owner-plan.php">Owner Plans</a></li>
								<li><a href="buyer-plan.php">Buyer Plan</a></li>
								<li><a href="seller-plan.php">Seller Plan</a></li>
							</ul>
						</li>
						<li><a href="agreement.php">Agreement</a></li>
						<li><a href="#">Rent Receipts</a></li>
						<li><a href="#">Packers & Movers</a> </li>
						<li><a href="corporate.php">Corporate</a></li>          
					</ul>
				
				</nav>-->
				
				<div class="clearfix"></div>
				<!-- Main Navigation / End -->
				
		  </div>
			<!-- Left Side Content / End -->

			<!-- Right Side Content / End -->
			<div class="right-side">
				<!-- Header Widget -->
				<div class="header-widget">
					
					<!-- User Menu -->
					<div class="user-menu">
						<div class="user-name"><span><img src="/images/user.png" alt=""></span><%=locals.name%></div>
						<ul style="width: 235px;">
							<li><a href="login-dashboard.php" style="color:#f91942"><i class="sl sl-icon-settings"></i> Dashboard</a></li>
							<li><a href="my-profile.php"><i class="sl sl-icon-user"></i> My Profile</a></li>
							<li><a href="residental-plan.php"><i class="sl sl-icon-briefcase"></i> Residential Plans</a></li>
							<li><a href="commercial-plan.php"><i class="sl sl-icon-briefcase"></i> Commercial Plans</a></li>
							<li><a href="my-listing.php"><i class="sl sl-icon-briefcase"></i> My Listing</a></li>
							<li><a href="rental-agreement.php"><i class="sl sl-icon-briefcase"></i> My Rental Agreements</a></li>
							
							<!-- Reply to review popup -->
							<div id="small-dialog" class="zoom-anim-dialog mfp-hide">
								<div class="small-dialog-header">
									<h3>Enter Message</h3>
								</div>
								<div class="message-reply margin-top-0">
									<textarea cols="40" rows="8" placeholder="Your message to Tom"></textarea>
									<button class="button">Send</button>
								</div>
							</div>
							
							<li><a href="#small-dialog" class="send-message-to-owner popup-with-zoom-anim"><i class="sl sl-icon-speech"></i> Chats</a></li>
							
							<li><a href="/logout"><i class="sl sl-icon-power"></i> Logout</a></li>
						</ul>
					</div>

				</div>
				<!-- Header Widget / End -->
				
<!--<a id="drawer" class="animateddrawer toggleitem" href="#" onClick="menu1.toggle(); return false"><span></span></a>-->
	
				<nav id="pushmenu1" class="pushmenu">
					<h2>Menu</h2>
					<div class="closebutton fa fa-plus-circle" title="Close Menu"></div>
					<ul class="mainnav" id="responsive">
						<li><a href="#"><i class="sl sl-icon-layers"></i> Commercial</a>
							<ul class="sub-menu">
								<li><a href="tenant-plan.php">Tenant Plans</a></li>
								<li><a href="owner-plan.php">Owner Plans</a></li>
								<li><a href="buyer-plan.php">Buyer Plan</a></li>
								<li><a href="seller-plan.php">Seller Plan</a></li>
							</ul>
						</li>
						<li><a href="agreement.php"><i class="sl sl-icon-layers"></i> Agreement</a></li>
						<li><a href="#"><i class="sl sl-icon-layers"></i> Rent Receipts</a></li>
						<!--<li><a href="#"><i class="sl sl-icon-layers"></i> Packers & Movers</a> </li>-->
						<li><a href="corporate.php"><i class="sl sl-icon-layers"></i> Corporate</a></li>          
					</ul>
					
				</nav>
				

			<!-- Right Side Content / End -->

		</div>
	</div>
</header>
<div class="clearfix"></div>
<!-- Header  End -->