<!-- sidebar start -->
<div id="dashboard">
    <!-- Navigation
        ================================================== -->
        <!-- Responsive Navigation Trigger -->
        <a href="#" class="dashboard-responsive-nav-trigger"><i class="fa fa-reorder"></i> Dashboard Navigation</a>
    
        <div class="dashboard-nav">
            <div class="dashboard-nav-inner">
                <ul data-submenu-title="Main">
                   <li class="active"><a href="#"><i class="im im-icon-Home"></i> Dashboard</a></li>
                   <li><a href="my-profile.php"><i class="im im-icon-Business-Man"></i> My Profile</a></li>
                   <li><a href="my-property.php"><i class="im im-icon-Chinese-Temple"></i> My Properties</a></li>
                </ul>
                
                <ul data-submenu-title="Property Details">
                    <li><a><i class="im im-icon-Home-2"></i>Post Property</a>
                        <ul>
                            <li><a href="#">Enter Property</a></li>
                            <li><a href="property.php">Property Entry</a></li>
                            <li><a href="locality-details.php">Locality Details</a></li>
                            <li><a href="resale-deatils.php">Rental Details</a></li>
                            <li><a href="gallery.php">Gallery</a></li>
                            <li><a href="nearby-dtl.php">Near by Details</a></li>
                            <li><a href="amenities.php">Amenities</a></li>
                            <li><a href="addition-info.php">Additional Information</a></li>
                            <li><a href="schedule.php">Schedule</a></li>
                        </ul>	
                    </li>
                </ul>
                
                <ul data-submenu-title="Plans">
                   <li><a><i class="im im-icon-Haunted-House"></i> Residential Plans</a>
                        <ul>
                            <li><a href="residental-plan.php">My Existing Plans</a></li>
                            <li><a href="user-tenant.php"> Tenants Plans</a></li>
                            <li><a href="user-owner-plan.php"> Owners Plan</a></li>
                            <li><a href="user-seller-plan.php"> Seller Plans</a></li>
                            <li><a href="user-buyer-plan.php"> Buyers Plan</a></li>
                        </ul>
                   </li>
                   <li><a><i class="im im-icon-Embassy"></i> Commercial Plans</a>
                        <ul>
                            <li><a href="commercial-plan.php">My Existing Plans</a></li>
                            <li><a href="user-tenant.php"> Tenants Plans</a></li>
                            <li><a href="user-owner-plan.php"> Owners Plan</a></li>
                            <li><a href="user-seller-plan.php"> Seller Plans</a></li>
                            <li><a href="user-buyer-plan.php"> Buyers Plan</a></li>
                        </ul>
                        
                   </li>
                   <li><a><i class="im im-icon-Hotel"></i> My Listings</a>
                        <ul>
                            <li><a href="my-listing.php">My Properties</a></li>
                            <li><a href="interest-shown.php"> Interest Shown</a></li>
                            <li><a href="my-appintment.php"> Appointments</a></li>
                            <li><a href="my-timeline.php">  My Timeline</a></li>
                        </ul>
                   </li>
                   <li><a href="rental-agreement.php"><i class="im im-icon-Diploma-2"></i> My Rental Agreement</a>
                   </li>
                </ul>
                
            </div>
        </div>
        <!-- sidebar end -->
    