<%- include('header') %>
<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Verification</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="#">Home</a></li>
						<li>Verification Process</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>


<!-- Container / Start -->
<div class="container">

	<div class="row">

		<!-- Contact Details -->
		<div class="col-md-4 margin-top-45">
			<img src="img/email.jpeg"/>
		</div>

		<!-- Contact Form -->
		<div class="col-md-5 margin-top-45">

			<section id="contact">
				<h4 class="headline">Verification Process</h4>
					<p>To complete User registration process please verify your email. Enter OTP (One time Password) send on mail.</p>
				<div id="contact-message"></div> 

					<form method="post" action="verify-account" name="verfy_form" id="verfy_form" autocomplete="on">

					<div class="row">
						<div class="col-md-12">
							<div>
								<input name="mail_otp" type="text" id="mail_otp" placeholder="Email OTP" required="required" />
								<span class="mail_otp"></span>
							</div>
						</div>
					</div>
					
					<p>  Please Take a moment to verify your mobile Number.
						OTP send on (<%=locals.usermob%>)<small style="color:#f91942;">This help us confirm your identity and secure your account</small></p>
			  <div class="row">
						<div class="col-md-12">
							<div>
								<input name="mob_otp" type="text" id="mob_otp" placeholder="Mobile OTP" required="required" />
								<span class="mob_otp"></span>
							</div>
						</div>
					</div>
					<input type="submit" class="submit button pull-right" id="vsubmit" value="Submit" />
					</form>
			</section>
		</div>
		<!-- Contact Form / End -->
		
		<!-- Contact Details -->
		<div class="col-md-3">

		</div>

	</div>

</div><br><br>
<!-- Container / End -->
<script>
	$('document').ready(function(){
		$('#vsubmit').on('click',function(e){
		e.preventDefault();
		var mail_otp = $('#mail_otp').val();
		var mob_otp = $('#mob_otp').val();
		if(mail_otp==''){
			$('#mail_otp').focus();
			$('.mail_otp').text('Enter Email OTP');	
		}
		else if(mob_otp==''){
			$('#mob_otp').focus();
			$('.mob_otp').text('Enter Mobile OTP');	
		}
		else{
			$('#verfy_form').submit();
		}
		});
	});
</script>
<%- include('footer'); %>